PORT=5000
NODE_ENV=development

# Database connection URL (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/attrition_db?schema=public"

# JWT Authentication
JWT_SECRET=attrition_prediction_super_secret_jwt_2026
JWT_EXPIRES_IN=7d

# Microservice Connection
ML_SERVICE_URL="http://127.0.0.1:8000"
